.traduction{
  margin: auto;
  width: 70%;
}

.traductionInputs{
  text-align: center;
}

.traductionInput{
  margin: 10px;
  width: 80px;
}

.traductionText{
  height: 17vh;
}

.traductionTitle{
  text-align: center;
}